*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar {
  margin: 10px;
  padding: 10px;
  text-align: right;
  overflow: hidden;
  text-decoration: none;
 }

.navbar a {
  text-decoration: none;
  padding: 10px;
}

.navbar li {
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
}

.hero-content{
  justify-content: center;
}

#hero, #attractions, .container {
  text-align: center;
}

.carousel-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    width: 100%;
    height: 100vh; /* Optional: Set full height to vertically center carousel */
}